{% extends 'layouts/auth_base.html' %}
{% load i18n static admin_berry %}

{% block title %} Login {% endblock title %}

{% block content %}
  <div class="auth-main">
    <div class="auth-wrapper v3">
      <div class="auth-form">
        <div class="card my-5">
          <div class="card-body">
            <a href="#" class="d-flex justify-content-center">
              <img src="{% static 'admin/img/logosemfundo_prodap.png' %}" />
            </a>
            <div class="row">
              <div class="d-flex justify-content-center">
                <div class="auth-header">
                  <h2 class="text-secondary mt-5"><b>Seja Bem-vindo</b></h2>
                  <p class="f-16 mt-2">Entre com suas credenciais para continuar</p>
                </div>
              </div>
            </div>
            <h5 class="my-4 d-flex justify-content-center">....</h5>
            <form method="post">
              {% csrf_token %}

              {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                  <span class="text-danger">{{ error }}</span>
                {% endfor %}
              {% endif %}

              <div class="form-floating mb-3">
                <input type="text" class="form-control form-control-lg" id="{{ form.username.id_for_label }}" 
                    name="{{ form.username.name }}" placeholder="Usuário" maxlength="14" oninput="formatCPF(this)">
                <label for="floatingInput">CPF</label>
              </div>
              <div class="form-floating mb-3">
                <input type="password" class="form-control form-control-lg" name="{{ form.password.name }}" id="{{ form.password.id_for_label }}" placeholder="Password">
                <label for="floatingInput">Senha</label>
              </div>
              <div class="d-grid mt-4">
                <button type="submit" class="btn btn-secondary">Entrar</button>
              </div>
            </form>
            <hr />
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}





{% block extra_js %}
<script type="application/javascript">
    {% if form.username.errors %}
        notification.danger("{{ form.username.errors }}", 'top', 'right');
    {% endif %}
    {% if form.password.errors %}
        notification.danger("{{ form.password.errors }}", 'top', 'right');
    {% endif %}

    {% if user.is_authenticated %}
        var msg = "You are authenticated as {{ username }}, but are not authorized to " +
            "access this page.Would you like to login to a different account ?"
        notification.warning(msg, 'top', 'right');
    {% endif %}

    {% if form.errors and not form.non_field_errors %}
        {% if form.errors.items|length == 1 %}
            notification.warning("{% trans "Please correct the error below." %}", 'top', 'right');
        {% else %}
            notification.warning("{% trans "Please correct the errors below." %}", 'top', 'right');
        {% endif %}
    {% endif %}

    {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
            notification.warning("{{ error|clean_text }}", 'top', 'right');
        {% endfor %}
    {% endif %}
</script>

<script>
  function formatCPF(input) {
      let value = input.value.replace(/\D/g, ''); // Remove tudo que não for número
      if (value.length > 11) value = value.slice(0, 11); // Limita a 11 dígitos
  
      if (value.length > 9) {
          input.value = value.replace(/(\d{3})(\d{3})(\d{3})(\d{2})/, '$1.$2.$3-$4');
      } else if (value.length > 6) {
          input.value = value.replace(/(\d{3})(\d{3})(\d{1,3})/, '$1.$2.$3');
      } else if (value.length > 3) {
          input.value = value.replace(/(\d{3})(\d{1,3})/, '$1.$2');
      } else {
          input.value = value;
      }
  }
</script>

{% endblock %}