<footer class="pc-footer">
  <div class="footer-wrapper container-fluid">
    <div class="row">
      <div class="col my-1">
        <p class="m-0">
          &copy; <a href="https://www.prodap.ap.gov.br/" target="_blank">PRODAP</a> 
        </p>
      </div>
      <div class="col-auto my-1">
        <ul class="list-inline footer-link mb-0">
          <li class="list-inline-item"><a target="_blank" href="https://appseed.us/product/berry-dashboard/django/" target="_blank">Manual</a></li>
          <li class="list-inline-item"><a target="_blank" href="https://web.whatsapp.com/send?phone=+5596981261940&text=Olá!" target="_blank">Suporte</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
