{% load i18n static admin_berry %}

<!-- [ Sidebar Menu ] start -->
<nav class="pc-sidebar">
  <div class="navbar-wrapper">
    <div class="m-header">
      <a href="/" class="b-brand">
        <!-- ========   Change your logo from here   ============ -->
        <img src="{% static 'admin/img/logosemfundo_prodap.png' %}" alt="" style="width: 150px; height: auto;" />
      </a>
    </div>
    <div class="navbar-content">
      <ul class="pc-navbar">
        <li class="pc-item pc-caption">
          <label>Dashboard</label>
          <i class="ti ti-dashboard"></i>
        </li>
        
        <li class="pc-item">
          {% if request.user.is_superuser %}
          <a href="{% url 'dashboard' %}" class="pc-link">
          {% else %}
          <a href="{% url 'dashboard' %}" class="pc-link">
          {% endif %}
            <span class="pc-micon"><i class="ti ti-dashboard"></i></span>
            <span class="pc-mtext">Dashboard</span></a>
        </li>
        <li class="pc-item">
          {% if request.user.is_superuser %}
          <a href="{% url 'dashboardday' %}" class="pc-link">
          {% else %}
          <a href="{% url 'dashboardday' %}" class="pc-link">
          {% endif %}
            <span class="pc-micon"><i class="ti ti-dashboard"></i></span>
            <span class="pc-mtext">Dashboard por dia</span></a>
        </li>

        <li class="pc-item">
          {% if request.user.is_superuser %}
          <a href="{% url 'dashboardmouth' %}" class="pc-link">
          {% else %}
          <a href="{% url 'dashboardmouth' %}" class="pc-link">
          {% endif %}
            <span class="pc-micon"><i class="ti ti-dashboard"></i></span>
            <span class="pc-mtext">Dashboard por mês</span></a>
        </li>
        



        <li class="pc-item pc-caption">
          <label>Sistema</label>
          <i class="ti ti-news"></i>
        </li>

        {% admin_get_menu as app_list %}
        {% if app_list %}
          {% for app in app_list %}
            {% if app.has_perms and not app.pinned %}
            <li class="pc-item pc-hasmenu">
              <a href="#!" class="pc-link">
                <span class="pc-micon"><i class="ti {{app.icon}}"></i></span>
                <span class="pc-mtext">{{ app.label|slice:15 }}{% if app.label|length > 15 %}..{% endif %}</span>
                <span class="pc-arrow"><i class="ti ti-chevron-right"></i></span>
              </a>
              {% if app.models %}
                <ul class="pc-submenu">
                  {% for model in app.models %}
                  {% if model.url %}
                  <li class="pc-item">
                    <a class="pc-link" href="{{ model.url }}">
                      {{ model.label }}
                    </a>
                  </li>
                  {% else %}
                  <li class="pc-item">{{ model.label }}</li>
                  {% endif %}
                  {% endfor %}
                </ul>
              {% endif %}
            </li>
            {% endif %}
          {% endfor %}
        {% endif %}

        <li class="pc-item pc-caption">
          <label>Paginas do usuário</label>
          <i class="ti ti-news"></i>
        </li>
        <li class="pc-item pc-hasmenu">
          <a href="#!" class="pc-link"><span class="pc-micon"><i class="ti ti-key"></i></span><span
              class="pc-mtext">Usuário</span><span class="pc-arrow"><i class="ti ti-chevron-right"></i></span></a>
          <ul class="pc-submenu">
            {% if request.user.is_superuser %}
              <li class="pc-item"><a class="pc-link" href="{% url 'user-settings' %}">Dados da conta</a></li>
              <li class="pc-item"><a class="pc-link" href="{% url 'admin:password_change' %}">Mudar a senha</a></li>
              <li class="pc-item"><a class="pc-link" href="{% url 'admin:logout' %}">Logout</a></li>
            {% else %}
              {% if request.user.is_authenticated %}
              <li class="pc-item"><a class="pc-link" href="{% url 'user-settings' %}">Dados da conta</a></li>
              <li class="pc-item"><a class="pc-link" href="{% url 'admin:password_change' %}">Mudar a senha</a></li>
              <li class="pc-item"><a class="pc-link" href="{% url 'admin:logout' %}">Logout</a></li>
              {% else %}
              <li class="pc-item"><a class="pc-link" href="{% url 'admin:login' %}">Entrar</a></li>
              <li class="pc-item"><a class="pc-link" href="{% url 'admin:register' %}">Registrar</a></li>
              {% endif %}
            {% endif %}
          </ul>
        </li>


        <li class="pc-item pc-caption">
          <label>APIs</label>
          <i class="ti ti-news"></i>
        </li>

        <li class="pc-item pc-hasmenu">
          <a href="#!" class="pc-link"><span class="pc-micon"><i class="ti ti-server"></i></span><span
              class="pc-mtext">Lista</span><span class="pc-arrow"><i class="ti ti-chevron-right"></i></span></a>
          <ul class="pc-submenu">
            {% if request.user.is_superuser %}
              <li class="pc-item"><a class="pc-link" href="{% url 'hospitalizations_by_month' %}">API de entrada por mês</a></li>
              <li class="pc-item"><a class="pc-link" href="{% url 'hospitalizations_by_day' %}">API de entrada por dia</a></li>
              <li class="pc-item"><a class="pc-link" href="{% url 'hospitalizations_by_sex' %}">API de entrada por sexo</a></li>
            {% else %}
              {% if request.user.is_authenticated %}
              <li class="pc-item"><a class="pc-link" href="{% url 'hospitalizations_by_month' %}">API de entrada por mês</a></li>
              <li class="pc-item"><a class="pc-link" href="{% url 'hospitalizations_by_day' %}">API de entrada por dia</a></li>
              <li class="pc-item"><a class="pc-link" href="{% url 'hospitalizations_by_sex' %}">API de entrada por sexo</a></li>
              {% else %}
              <p>Não tem acesso</p>
              {% endif %}
            {% endif %}
          </ul>
        </li>


    </div>
  </div>
</nav>
<!-- [ Sidebar Menu ] end -->
